.createAccountPage {

    .createAccountPage__header {
        text-align: center;
    }

    .createAccountPage__main {
        border: 1px solid var(--grey2);
        border-radius: var(--br);
        padding: 1rem;

    }

}