.login {
    background-color: #ffffff;
    position: absolute;
    inset: 0;
    padding: 1rem;
    overflow: auto;

    > * {     
        width: 100%;
        max-width: 400px;
        margin: auto;   
    }

    .title {
        font-size: var(--fs-700);
        font-weight: 400;
        text-transform: capitalize;
        margin-block-end: 1.25rem;
    }

    label {
        font-size: 0.85em;
        font-weight: 500;
        text-transform: capitalize;
        display: block;
        margin-block: 0.75rem;

        input {
            width: 100%;
            outline: none;
            border: 1px solid var(--grey2);
            border-radius: 2.5px;
            padding: 0.5em;
            font-size: var(--fs-400);
            margin-block: 0.25rem;

            &:focus {
                border-color: var(--az-orange);
                box-shadow: 1px 1px 4px var(--az-orange), -1px -1px 4px var(--az-orange);
            }
        }
    
    }

    .field--err {
        border-color: #c70000;
        box-shadow: 1px 1px 4px #c70000, -1px -1px 4px #c70000;

        &:focus {
            border-color: #c70000;
            box-shadow: 1px 1px 4px #c70000, -1px -1px 4px #c70000;
        }

    }

    .err--txt {
        color: #c70000;
        font-size: 0.9em;
        font-weight: 400;
    }

    button {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 2.5px;
        padding: 0.75em;
        background-color: var(--az-yellow);
        text-transform: capitalize;
        margin-block: 1rem;

        &:hover {
            cursor: pointer;
            filter: brightness(95%);
        }

    }

    .btn--link {
        color: #007185;
        margin-inline: 0.25rem;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: #f3a847;
        }

    }

    .text {
        font-size: 0.8em;
        color: #646464;
        margin-block: 0.5rem;
    }

}