.poster {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    flex-flow: column;

    .poster__title {
        font-size: var(--fs-500);
        margin-block-end: 1rem;
    }

    .poster__img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }

    .poster__link {
        color: #348e9d;
        font-size: var(--fs-300);
        width: max-content;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: #ff9900;
        }
    
    }

}