.reviewBox {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;

    .reviewBox__title {
        font-size: var(--fs-500);
        text-align: left;
        margin-block-end: 1rem;
    }

    .reviewBox__img {
        height: 250px;
    }

    .reviewBox__rating {
        color: #ff9900;
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        margin-block-start: 1rem;

        .icon > * {
            font-size: var(--fs-800); 

            &:hover {
                cursor: pointer;
            }

        }

    }

}