.productPage {
    background-color: #ffffff;

    .productPage__row1 {
        padding: 2rem;
        display: flex;
        gap: 1rem;
        padding-block-end: 5rem;
        margin-block-end: 1rem;
        border-block-end: 1px solid var(--grey2);

        .productPage__left {
            width: 30%;
            grid-area: left;

            .productPage__img {
                width: 100%;
                max-height: 300px;
                object-fit: contain;
            }

            .productPage__gallery {
                padding: 0.5rem;
                height: 100px;
                display: flex;
                gap: 0.5rem;
                overflow: auto;

                img {
                    height: 100%;
                    object-fit: contain;
                    border: 1px solid black;
                    padding: 0.25rem;

                    &:hover {
                        cursor: pointer;
                    }

                }

                .img--focus {
                    box-shadow: 1px 1px 2px #ffa41c, -1px -1px 2px #ffa41c;
                }

            }

        }

        .productPage__center {
            width: 45%;
            grid-area: center;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;

            hr {
                border: none;
                border-block-end: 1px solid var(--txt3);
                margin-block: 0.25rem;
            }

            .productPage__name {
                font-size: var(--fs-700);
                font-weight: 500;
            }

            .productPage__rating {

                .ratingIcon {
                    color: #ffa41c;
                    font-size: var(--fs-500);
                }

            }

            .productPage__priceBox {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.25rem;

                .productPage__price {
                    font-size: var(--fs-700);
                    font-weight: 500;
                }

                .productPage__discount {
                    font-size: var(--fs-500);
                    color: #cc0c39;
                }

                .productPage__mrp {
                    width: 100%;
                    font-size: var(--fs-300);
                    opacity: 0.75;
                }
            
            }

            .productPage__prime {
                font-size: var(--fs-300);
                font-weight: 700;
                color: #2191c1;
            }

        }

        .productPage__right {
            width: 25%;
            grid-area: right;
            padding: 1rem;
            display: flex;
            flex-flow: column;
            gap: 0.75rem;
            border: 1px solid #b6b6b6;
            border-radius: var(--br);

            .productPage__price {
                font-size: var(--fs-700);
                font-weight: 500;
            }

            .productPage__prime {
                font-size: var(--fs-300);
                font-weight: 700;
                color: #2191c1;
            }

            .productPage__stock {
                font-size: var(--fs-500);
                color: #0c7c0c;
            }

            .productPage__qty {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                input {
                    width: 75px;
                    outline: none;
                }

            } 

            .productPage__cartBtn, .productPage__wishlistBtn {
                padding: 0.5em;
                border: none;
                outline: none;

                &:hover {
                    cursor: pointer;
                    filter: brightness(95%);
                }

            }

            .productPage__cartBtn {
                background-color: #ffd814;
                border-radius: 1rem;
            }

            .productPage__wishlistBtn {
                background-color: #ebebeb;
                border: 1px solid #b6b6b6;
                border-radius: var(--br);
                text-align: left;
            }

            hr {
                border: none;
                border-block-start: 1px solid #b6b6b6;
                margin-block: 0.5rem;
            }

        }

        .productPage__descBox {
            grid-area: desc;
            display: none;
        }

    }

    .productPage__row2 {
        padding-block-end: 5rem;
    }

}

@media screen and (max-width: 500px) {
    .productPage {

        .productPage__row1 {
            padding: 0;
            flex-flow: column;

            .productPage__left {
                width: 100%;
                padding: 2rem 1rem 0.5rem;
            }

            .productPage__center {
                width: 100%;
                padding: 0.5rem 1rem;
                border-bottom: 5px solid var(--grey);

                .descBox {
                    display: none;
                }

                hr {
                    display: none;
                }

            }

            .productPage__right {
                width: 100%;
                padding: 0.5rem 1rem;
                border: none;
                border-bottom: 5px solid var(--grey);
                gap: 0.75rem;

                .productPage__price {
                    display: none;
                }

                .productPage__prime {
                    display: none;
                }

                .productPage__cartBtn {
                    border-radius: var(--br);
                }

                hr {
                    display: none;
                }

                .productPage__wishlistBtn {
                    width: fit-content;
                    border: none;
                    background-color: transparent;
                    text-transform: uppercase;
                    color: var(--az-link);
                }

                .descBox {
                    display: initial;
                }

            }

            .productPage__descBox {
                display: initial;
                padding: 1rem;
            }

        }

    }
}

@media screen and (min-width:500px) and (max-width: 800px) {
    .productPage {
        display: grid;
        grid-template-columns: repeat(2, 1f);
        grid-template-areas: 
            'left center'
            'left right'
            'desc desc'
        ;

        .productPage__left {
            width: 100%;
            padding: 0.5rem 1rem;
        }

        .productPage__center {
            width: 100%;
            padding: 0.5rem 1rem;

            .descBox {
                display: none;
            }

            hr {
                display: none;
            }

        }

        .productPage__right {
            width: 100%;
            max-width: 300px;
            padding: 1rem;
            gap: 0.75rem;

            .productPage__price {
                display: none;
            }

            .productPage__prime {
                display: none;
            }

            .productPage__cartBtn {
                border-radius: var(--br);
            }

            hr {
                display: none;
            }

            .productPage__wishlistBtn {
                text-align: center;
            }

            .descBox {
                display: initial;
            }

        }

        .productPage__descBox {
            display: initial;
            max-width: 500px;
            padding: 2rem 1rem;
        }

    }
}
